
@media(max-width:1024px){
    /* hero---section----homepage */
    .hero-content h1{
       
       font-size: var(--primary--responsive-text);
    }
    .hero-content h4{
       font-size: var(--secondary-responsive-text);
    }
    .about-content-title{
    width: 100%;
}
}
@media(max-width:992px){
    /* navbar----------start */
    .navbar-toggler{
        outline: none;
        background-color: var(--mainColor);
        padding: 10px;
        box-shadow: 0 0 8px #9d0207c2;
    }
    .navbar-toggler i{
        color: white;
    } 
    .responsive-navbar{
    background-color: rgb(11, 10, 10);
     padding-top: 20px;
    padding-left: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 111;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    opacity: 0; 
    }
    .responsive-navbar.slide-menu{
    transform: translateY(0);
    opacity: 1;
    } 
     #navbarSupportedContent .nav-link:focus,
    #navbarSupportedContent .nav-link:active {
        color: var(--mainColor) !important;
    }  
    
    .bootstrapCloseBtn i{
        color: white;
        position: absolute;
        right: 50px;
        top: 30px;
        cursor: pointer;
    }
    /* navbar---end */
    .hero-content .main-btn{
        font-size: 1rem;
    }
    /* about---section */
    .about-sectionImg{
        order: 1;
        margin: 15px 0;
    }
    /* reservation-------start */
    .reservationContainer{
    width: 100%;
    }
    .reservation h3{
        font-size: 35px;
    }
    /* footer----start */
    .footer-about{
        width: 100%;
    }
    .footer-pages{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-contact{
        width: 100%;
    }
    
  
 }
@media(max-width:768px){
    .hero-content{
        width: 90%;
    }
    .about-content-title h3{
        font-size: 35px;
    }
    .about-content-title h5{
        font-size: 18px;
    }
    .discoverBtn{
        font-size: 14px;
    }

    .menu-container h3{
        font-size: 35px;
    }
    .gallery h3{
        font-size: 35px;
    }
    .reservation h3{
        font-size: 35px;
    }
   .contact-form h3{
    font-size: 18px;
   }
   .contact-form input{
    font-size: 14px;
   }
    .footer-pages{
        display: block;
    }
    .footer_title{
      font-size: 12px;
      letter-spacing: normal;
    }
    footer {
        font-size: 14px;
    }
    .prev-btn{
     left: -10px;
    }
    .next-btn{
        right: -10px;
    }
   
}
@media(max-width:600px){
   .hero-content{
    margin-top: 20px;
    width: 100%;
   }
   .hero-content h1{
    font-size: 25px;
   }
   .hero-content h4{
    font-size: 0.9rem;
   }
   .hero-content .main-btn{
        font-size: 0.8rem;
    }
    /* about----section */
       .about-content-title{
        text-align: center;
       }
       .about-content-title h3{
        font-size: 25px;
    }
    .about-content-title h5{
        font-size: 16px;
    }
    .about-content-title p{
        font-size: 14px;
    }
        .reservation h3 {
        font-size: 25px;
    }
    .menu-container h3{
        font-size: 25px;
    }
    .menu-title{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu-title h4{
        font-size: 16px;
    }
    .menu-title p{
        font-size: 14px;
    }
    .gallery h3{
        font-size: 25px;
    }
    .menu-container button a {
        font-size: 14px;
    }
     
    
}
