:root{
    --mainColor : #9d0208;
    --secondaryColor : #252422;
    --light : white; 
    --btn-radius : 8px;
    --btn-width : 200px;
    --primary-text : 60px;
    --primary--responsive-text : 32px;
    --secondary-responsive-text :18px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
}
/* navbar-------start */
.navbar{
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 1000;
 background-color: transparent;
 transition: all 0.4s ease;
}
.navbar.scrolled{
   background-color: var(--secondaryColor);
   box-shadow: 0 4px 10px rgba(0,0,0,0.3);
   padding: 10px 0;
}
.nav-item{
     padding-right: 10px;
    padding-left: 10px;
}
.nav-link{
   display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}
.navbar .nav-link,
.navbar .nav-link:focus,
.navbar .nav-link:active {
    color: white !important; /* default color */
}
.navbar .nav-link:hover{
    color: var(--mainColor)!important;
}
.navbar .nav-link:before{
content: "";
position: absolute;
left: 50%;
bottom: 0;
height: 2px;
width: 0;
background-color: var(--mainColor);
transition: all 0.3s ease;
transform: translateX(-50%);
}
#navbarSupportedContent .nav-link:hover::before{
    width: 100%;
}

.navbarbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #141312;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    z-index: 3000;
}

.navbarbox.active {
    transform: translateX(0);
}
/* navbar-------end */

/* hero----section-------start */
.hero{
 background: url("images/hero.avif");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 min-height: 100vh;
 position: relative;
 width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.463);
}
.hero-content{
    padding-top: 20px;
    width: 65%;
    margin: 0 auto;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.hero-content.visible{
   
    transform: translateY(0);
     opacity: 1;
}
.hero-content h1{
 font-size: 60px;
 font-weight: 700;
}
.hero-content h1 span{
    font-family: "dancing script";
    
    color: var(--mainColor);
    margin-bottom: 10px;
}
.hero-content h4{
    margin-bottom: 15px;
    font-weight: 400;
}
.hero-content .main-btn{
    background-color: var(--mainColor);
    color: white;
    border: none;
    padding: 15px 25px;

    border-radius: var(--btn-radius);
    
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}
.hero-content .main-btn:hover{
    background-color: var(--secondaryColor) ;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(246, 247, 244);

   
    
}
/* hero----section-------end */

/* about----section----start */
.about{
    background-image: url("images/pattern2.png.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.about-content-title{
    width: 85%;
    margin: 0 auto;
}

.about-content .row {
  display: flex;
  align-items: center;
}
.about-content-title h3{
    color: var(--mainColor);
    font-size: 60px;
    font-family: "dancing script";
    margin-bottom: 12px;
}
.about-content-title h5{
 color: var(--secondaryColor);
 font-size: 22px;    
 margin: 10px 0;
 
}
.about-content-title p{
    color: #666666;
     margin: 10px 0;

}
.discoverBtn{
    background-color: var(--mainColor);
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: var(--btn-radius);
    margin: 10px 0;
    transition: all 0.4s ease;
}
.discoverBtn:hover{
    background-color: var(--secondaryColor);
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.about-sectionImg {
   background-color: var(--mainColor); /* dark background */
  /* background-color: rgba(157, 2, 8, 0.7); */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 6px #9d0208;
}

.about-sectionImg img {
  border-radius: 8px;
}

.about-sectionImg {
  border-radius: 8px;
}



/* about----section----end */


/* reservatio-----start */

.reservation{
    min-height: 80vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation h3{
    text-align: center;
    font-family: "dancing script";
    color: var(--mainColor);
    font-size: 50px;
    margin-bottom: 30px;
}
.reservationContainer{
    width: 90%;
}
.reservationContainer h4{
    text-transform: uppercase;
    text-align: center;
   
}
.bookTable{
    text-align: center;
    margin-top: 30px;
}
.bookTable button{
    
    background-color: var(--mainColor);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 10px 12px;
    transition: all 0.4s ease;

    margin: 25px 0;
    margin-top: 0;
}
.bookTable button:hover{
    background-color: var(--secondaryColor);
     box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.input-box{
    margin: 25px 0;
    position: relative;
}
.input-box input{
    color: #666666;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #d9d9d9;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  
}

input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(41%) sepia(0%) saturate(0%) hue-rotate(0deg);
    cursor: pointer;
}

.person-select{
    position: relative;
}

 select{
    position: absolute;
    top: 1px;
    left: 2px;
    border-radius: 3px;
    background: transparent;
    color: #666666;
}

select option{
    color: #666666;
    outline: none;
}
.reservation-imgContainer{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.reservation-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(157, 2, 7, 0.507); /* semi-transparent red overlay */
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 2;
}
.reservation-imgContainer:hover .reservation-overlay{

    opacity: 1;
}
.reservationImg{
 
    transition: all 0.4s ease;
}
.reservation-imgContainer:hover .reservationImg{
    transform: scale(1.2);
}
.custom-alert {
  display: none; /* by default hidden */
  width: 300px;
  position: fixed;
  top: 20px;
   transform: translateX( -50%);
  left: 50%;
  background-color: #9d0208;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-weight: 500;
  animation: fadeInOut 3s ease-in-out;
  z-index: 9999;
}

/* reservatio-----end */


/* menu-------section---------start */
.menu{
      background-image: url("images/pattern2.png.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    padding: 50px 0;
}
.menu-container{
    text-align: center;
}
.menu-container h3{
   
    margin-bottom: 30px;
    color: var(--mainColor);
    font-family: "dancing script";
    font-size: 50px;
}
.menu-card{
    margin: 20px 0;
}
.menu-wrapper{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.menu-img{
   height: 100%;
   transition: all 0.4s ease;
   background-repeat: no-repeat;
   background-size: cover;
}

.menu-overlay{
    background-color: #25242237;
    height: 100%;  
}
.menu-img:hover{
    transform: scale(1.1);
}
.menu-title{
    padding: 12px 0;
    text-align: left;
    cursor: pointer;
}
.menu-title h4:hover{
    color: var(--mainColor);
}
.menu-title p{
    color: #666666;
}
.menu-title h6{
    background-color: var(--secondaryColor);
    color: white;
    height: auto;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
   
}
.menu-container button{

    border: none;
    padding: 10px 15px;
    background-color: var(--mainColor);
    border-radius: 8px;
    transition: all 0.4s ease;
}
.menu-container button a{
    text-decoration: none;
    color: white;
}
.menu-container button:hover{
     background-color: var(--secondaryColor);
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
     
}
/* menu-------section---------end */


/* gallery----section---start */
.gallery{
  
    min-height: 50vh;
    padding: 50px 0;
    text-align: center;

}
.gallery h3{
    font-family: "dancing script";
    color: var(--mainColor);
    font-size: 60px;
    padding-bottom: 30px;
}
.swiper-slide{
    overflow: hidden;
    border-radius: 10px;
}
.swiper-slide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
     transition: all 0.4s ease;
}
.swiper-slide img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 14px;
}

.swiper-button-prev ,.swiper-button-next{
   height: 50px;
    width: 50px;
    color: white;
    background-color: var(--mainColor);
    border: none;
    border-radius: 50%;
}
.swiper-button-prev{
left: 10px;
   
}
/* gallery----section---end */

/* contact----section----start */
.contact-section{
min-height: 80vh;
background: url("images/pattern2.png.webp");
background-repeat: no-repeat;
background-size: cover;
padding: 40px 0;
display: flex;
align-items: center;
}
.contact-form input, textarea{
width: 100%;
height: 50px;
padding-left: 10px;
margin: 10px 0;
border-radius: 10px;
color: #666666;
border: 2px solid #d9d9d9;
}

.contact-form textarea{
    padding: 10px 0 0 10px;
    height: 150px;
    resize: none;
}
.contact-form h3{
    font-size: 25px;
    margin-top: 15px;
}
.contact-form{
 display: flex;
 
 flex-direction: column;
 align-items: center;
}
.contact-form button{
    
    background-color: #9d0208;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    padding: 10px 25px;
    border: none;
    margin: 10px 0;
    transition: all 0.4s ease;
}

.contact-form button:hover{
    background-color: #141312;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* footer-------------start */

footer{
     padding: 10px;
    padding-top: 50px;
   
    background-color: var(--secondaryColor);
    min-height: 60vh;
    color: var(--light);
}
footer h5{
 margin-bottom: 40px;   
}
.footer-about{
    width: 90%;
    margin: 15px 0;
}
.footer-about p{
    color: #666666;
}
.footer-about a{
    
    display: inline-block;
    text-decoration: none;
    background-color: var(--mainColor);
    color: var(--light);
    padding: 10px 14px;
    border-radius: 8px;
    transition: all 0.4s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.footer-about a:hover{
    background-color: var(--secondaryColor);
    border: 2px solid white;
     box-shadow: 0 0 10px rgb(246, 247, 244);
}
.social-links{
    margin: 25px 0;
}
.social-links i{
    font-size: 22px;
    margin-right: 12px;
    color: #666666;
    transition: all 0.4s ease;
}
.social-links i:hover{
    color: var(--mainColor);
}
.footer-pages{
  
    margin: 15px 0;
}
.footer-pages ul{
    list-style-type: none;
    padding-left: 0;
}
.footer-pages ul li{
  padding: 4px 0;
}
.footer-pages ul li a{

    display: inline-block;
   
    text-decoration: none;
    color: #666666;
    
    transition: all 0.4s ease;
  
}
.footer-pages ul li a:hover{
    color: var(--mainColor);
   
}
.footer-contact {
    width: 90%;
    margin: 15px auto;
}
.footer-contact p{
    color: #666666;
}
.newsletter-box{
    margin: 15px 0;
}
.newsletter-box p{
    color: #666666;
}
.newsletter-box input{
    width: 100%;
    height: 50px;
    padding-left: 5px;
    margin-bottom: 8px;
}
.newsletter-box a{
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    color: white;
    background-color: var(--mainColor);
    width: 100%;
    height: 50px;
    transition: all 0.4s ease;
}
.newsletter-box a:hover{
    background-color: var(--secondaryColor);
     border: 2px solid white;
     box-shadow: 0 0 10px rgb(246, 247, 244);
}
.footer-tagline{
    background-color: #141312;
}
.footer_title{
    padding: 10px;
    margin-bottom: 0;
    color: #666666;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.5px;
    
   
}

.footer_title span{
    color: var(--mainColor);
    margin-left: 4px;
    font-weight: 700;
    
}
/* footer--------------------end */

